<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')
</style>
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

nav{
    display: flex;
   align-items: center;
    padding: 20px;
    max-width: 1200px;
    min-height: 100px;
    margin: 20px;
    background-color: #c5ffd2;
    border: solid white;
    border-radius: 10px;
   
    
}
  nav ul{
    display: flex;
   align-items: center;
   
  }
  .item{
    width: 50%;
  }
  nav a{
    text-decoration: none; 
  }
  .site{
    width: 50%;
  }
  .site img{
    width: 50%;
  }
  .anch{
    justify-content: space-between;
    list-style: none; 
    
  }
  .btn-primary{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 155, 78);
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid;
    padding: 2px 4px;
    margin: 20px;
    
  }
  
  
  .banner{
    /* margin: 120px 0px 120px 0px; */

    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    background-color: rgb(223, 254, 223);
    padding:20px;
    max-height: auto;
    margin: 20px;
    align-items: center;
    border: solid white;
    border-radius: 10px;
    background-size: auto;

  }
  .header{
    font-size: 21px;
    margin-bottom: 15px;
  }
  .title{
   font-size: 36px; 
  }
  .m{
    color: rgb(248, 155, 78);
  }
  .z{ color: rgb(248, 155, 78);

  }
  .description{ margin-bottom: 5px;
  }